.pio/
.piolibdeps/
.pioenvs/
.pio_build/
.pio/libdeps/
.pio/build/
.platformio/
**/.pioenvs/
**/.piolibdeps/
**/.pio/build/
**/.pio/libdeps/
compile_commands.json
.idea/
cmake-build-*/
out/
cmake-build-debug/
cmake-build-release/
.DS_Store
Thumbs.db
*.log
*.bak
*.swp
*.tmp
.venv/
env/
venv/